DemoDotnetSmsAzureCommunicationServices/.vs
DemoDotnetSmsAzureCommunicationServices/DemoDotnetSmsAzureCommunicationServices/bin
DemoDotnetSmsAzureCommunicationServices/DemoDotnetSmsAzureCommunicationServices/obj
DemoDotnetSmsAzureCommunicationServices/SmsManager/bin
DemoDotnetSmsAzureCommunicationServices/SmsManager/obj
